iframe{
    border: none;
    width: 100%;
    height: 90%;
}

bottombar{
    display: flex;
    padding: 1vh;

    background-color: var(--backgroud-0-5);
}

full{
    display: flexbox;
    height: 100%;
}
